<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="brand-logo">
            <img src="assets\images\logo2.png" height="30" width="30" style="display:inline">raiglist</span>
    </mat-toolbar-row>
</mat-toolbar>
<a [routerLink]="['']"></a>
<router-outlet></router-outlet>
<!-- <mat-toolbar color="primary" style="margin-top: 20px;" class="footer">
    <mat-toolbar-row>
        <span class="roboto-condensed">© 2018 Copyright Omkar Dixit Tushar Chemburkar</span>
    </mat-toolbar-row>
</mat-toolbar> -->