<div class="container" style="margin-top: 20px">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <h2 class="text-center">What can you find ?</h2>
      <p class="text-center"> jobs, housing, for sale, items wanted, services, community, gigs, résumés</p>
      <img class="img-thumbnail" src="https://ae01.alicdn.com/kf/HTB1MrJqIXXXXXa6XpXXq6xXFXXXm/Free-shipping-2015-new-world-globe-geography-geography-HD-Map-teaching-standard-paper-Diameter-of-32cm.jpg"
        alt="">
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <br>
      <mat-card>
        <h5>Log in</h5>
        <form (ngSubmit)="userLogin(loginForm.value)" [formGroup]="loginForm">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <mat-form-field>
                <input id="loginEmailId" formControlName="loginEmailId" type="email" matInput placeholder="Email-Id" required>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div *ngIf="!loginForm.controls['loginEmailId'].valid && (loginForm.controls['loginEmailId'].touched)">
                <div class="error" [hidden]="!loginForm.controls['loginEmailId'].errors.required">
                  Email-Id is required &nbsp;
                </div>
                <div class="error" [hidden]="!loginForm.controls['loginEmailId'].errors.email">
                  Not a Valid Email Address
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <mat-form-field>
                <input id="loginPassword" formControlName="loginPassword" type="password" matInput placeholder="Password" required>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div *ngIf="!loginForm.controls['loginPassword'].valid && (loginForm.controls['loginPassword'].touched)">
                <div class="error" [hidden]="!loginForm.controls['loginPassword'].errors.required">
                  Password is required
                </div>
                <div class="error" [hidden]="!loginForm.controls['loginPassword'].errors.minlength">
                  Minimum 8 Characters
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
              <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Log In</button>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
              <div class="text-center error">{{loginMessage}}</div>
            </div>
          </div>
        </form>
      </mat-card>
      <br>
      <mat-card>
        <h5 class="cyan-text text-darken-4">Sign up</h5>
        <form (ngSubmit)="userRegister(registrationForm.value)" [formGroup]="registrationForm">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <mat-form-field>
                <input id="registerFullName" formControlName="registerFullName" type="text" matInput placeholder="Fullname" required>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div *ngIf="!registrationForm.controls['registerFullName'].valid && (registrationForm.controls['registerFullName'].touched)">
                <div class="error" [hidden]="!registrationForm.controls['registerFullName'].errors.required">
                  Full Name is required
                </div>
                <div class="error" [hidden]="!registrationForm.controls['registerFullName'].errors.minlength">
                  Minimum 8 Characters
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <mat-form-field>
                <input id="registerEmailId" formControlName="registerEmailId" type="email" matInput placeholder="Email-Id" required>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div *ngIf="!registrationForm.controls['registerEmailId'].valid && (registrationForm.controls['registerEmailId'].touched)">
                <div class="error" [hidden]="!registrationForm.controls['registerEmailId'].errors.required">
                  Email-Id is required
                </div>
                <div class="error" [hidden]="!registrationForm.controls['registerEmailId'].errors.email">
                  Not a Valid Email Address
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <mat-form-field>
                <input id="registerPassword" formControlName="registerPassword" type="password" matInput placeholder="Password" required>
              </mat-form-field>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div *ngIf="!registrationForm.controls['registerPassword'].valid && (registrationForm.controls['registerPassword'].touched)">
                <div class="error" [hidden]="!registrationForm.controls['registerPassword'].errors.required">
                  Password is required
                </div>
                <div class="error" [hidden]="!registrationForm.controls['registerPassword'].errors.minlength">
                  Minimum 8 Characters
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <button type="submit" mat-raised-button color="primary" [disabled]="!registrationForm.valid">Create Account</button>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <p class="text-center success" *ngIf="registerSuccess">{{registerSuccess}}</p>
              <p class="text-center error" *ngIf="registerError">{{registerError}}</p>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>