<nav class="nav-extended #006064 cyan darken-4">
  <div class="nav-wrapper">
    &nbsp;
    <a href="#" class="brand-logo"><img src="E:/Projects/Craiglist/CraiglistFrontEnd/src/images/logo.png">Logo</a>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab">
        <a class="active" href="#Home">Home</a>
      </li>
      <li class="tab">
        <a href="#Search">Search</a>
      </li>
      <li class="tab">
        <a href="#SearchByC">Search By Category</a>
      </li>
    </ul>
  </div>
</nav>

<div id="Home" class="col s12">
  <div class="container">

    <h2>Hello {{fullName}} !</h2>
    <div class="row">
      <div class="col s6">
        <p>Address: {{address}}</p>
        <p>Contact: {{phoneNo}}, {{emailId}}</p>
        <p>My Posts</p>
        <p>Add a Service</p>
        <p>My Wishlist</p>
        <p>Hidden Services</p>
      </div>
      <div class="col s6">
        <ul class="collapsible">
          <li>
            <div class="collapsible-header">Change Email Address</div>
            <div class="collapsible-body">
              <div class="row">
                <form (ngSubmit)="changeEmail(emailId)" class="col s12">
                  <div class="row">
                    <div class="input-field col s12 m6 l6">
                        <input id="emailId" [(ngModel)]="emailId" [ngModelOptions]="{standalone:true}" type="text" class="validate">
                        <label for="emailId">Email-Id</label>
                      </div>
                      <div class="input-field col s12 m6 l6">
                          <button type="submit" class="waves-effect waves-light btn">Change Email</button>
                      </div>
                  </div>
                </form>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header">Change Phone Number</div>
            <div class="collapsible-body">
                <div class="row">
                    <form (ngSubmit)="changePhoneNo(phoneNo)" class="col s12">
                      <div class="row">
                        <div class="input-field col s12 m6 l6">
                            <input id="phoneNo" [(ngModel)]="phoneNo" [ngModelOptions]="{standalone: true}" type="text" class="validate">
                            <label for="phoneNo">Phone-No</label>
                          </div>
                          <div class="input-field col s12 m6 l6">
                              <button type="submit" class="waves-effect waves-light btn">Change Phone-No</button>
                          </div>
                      </div>
                    </form>
                  </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header">Change Address</div>
            <div class="collapsible-body">
                <div class="row">
                    <form (ngSubmit)="changeAddress(address, city, state, country)" class="col s12">
                      <div class="row">
                        <div class="input-field col s12 m3 l3">
                            <input id="address" [(ngModel)]="address" [ngModelOptions]="{standalone:true}" type="text" class="validate">
                            <label for="address">Address</label>
                          </div>
                          <div class="input-field col s12 m3 l3">
                              <input id="city" [(ngModel)]="city" [ngModelOptions]="{standalone:true}" type="text" class="validate">
                              <label for="city">City</label>
                            </div>
                            <div class="input-field col s12 m3 l3">
                                <input id="state" [(ngModel)]="state" [ngModelOptions]="{standalone:true}" type="text" class="validate">
                                <label for="state">State</label>
                              </div>
                              <div class="input-field col s12 m3 l3">
                                  <input id="country" [(ngModel)]="country" [ngModelOptions]="{standalone:true}" type="text" class="validate">
                                  <label for="country">Country</label>
                                </div>
                          <div class="input-field col s12 m3 l3">
                              <button type="submit" class="waves-effect waves-light btn">Change Address</button>
                          </div>
                      </div>
                    </form>
                  </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="Search" class="col s12">
  <nav class=" #006064 cyan darken-4">
    <div class="nav-wrapper">
      <form (ngSubmit)="searchService(searchInput)">
        <div class="input-field">
          <input [(ngModel)]="searchInput" [ngModelOptions]="{standalone:true}" id="search" type="search" required>
          <label class="label-icon" for="search">
            <i class="material-icons">search</i>
          </label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
  <div class="container">
    <p>Search Results for {{searchInput}}</p>
      <div class="row">
          <div class="col s6 m3">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                  <button class="btn waves-effect waves-light">open
                      <i class="material-icons right">send</i>
                    </button>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
<div id="SearchByC" class="col s12"></div>