<mat-tab-group class="demo-tab-group">
  <mat-tab label="Home">
    <div class="container demo-tab-content">
      <div class="row">
        <div *ngIf="!isAdmin" class="col-sm-8">
          <h2>Hello {{fullName}} !</h2>
        </div>
        <div *ngIf="isAdmin" class="col-sm-8">
          <h2>Hello Admin !</h2>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2" style="padding-top: 5%">
          <button mat-raised-button color="warn" (click)="logout()">Logout</button>
        </div>
      </div>
      <div *ngIf="!isAdmin" class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8">
              <span class="bold-text">Address:</span> {{address}}</div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <span class="bold-text">Zipcode:</span> {{zipcode}}</div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
              <span class="bold-text">City:</span> {{city}}</div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <span class="bold-text">State:</span> {{state}}</div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <span class="bold-text">Country:</span> {{country}}</div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <span class="bold-text">Phone-No:</span> {{phoneNo}}</div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <span class="bold-text">Email-Id:</span> {{emailId}}</div>
          </div>
          <div class="row" *ngIf="isActive==1">
            user is active
          </div>
          <div class="row" *ngIf="isActive==0">
            user is not active
          </div>
        </div>
        <div class="col-sm-6">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Change Email
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row">
                <form (ngSubmit)="changeEmail()" class="col s12">
                  <div class="row">
                    <div class="col s12 m6 l6">
                      <mat-form-field>
                        <input matInput placeholder="Input" [(ngModel)]="emailId" [ngModelOptions]="{standalone:true}" type="text">
                      </mat-form-field>
                    </div>
                    <div class="input-field col s12 m6 l6">
                      <button type="submit" mat-raised-button color="primary">Change</button>
                    </div>

                  </div>
                </form>
                <div *ngIf="emailIdChangedMessage" class="green-text center-align">{{emailIdChangedMessage}}</div>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Change Phone
                </mat-panel-title>
              </mat-expansion-panel-header>
              <form (ngSubmit)="changePhoneNo()">
                <div class="row">
                  <div class="col-sm-12 col-md-6 col-lg-6">
                    <mat-form-field>
                      <input type="text" matInput placeholder="Phone-No" [(ngModel)]="phoneNo" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-6">
                    <button type="submit" mat-raised-button color="primary">Change</button>
                  </div>
                </div>
              </form>
              <div *ngIf="phoneNoChangedMessage" class="green-text center-align">{{phoneNoChangedMessage}}</div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Change Address
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row">
                <form (ngSubmit)="changeAddress()" class="col s12">
                  <div class="row">
                    <div class="input-field col s12 m9 l9">
                      <input id="address" [(ngModel)]="address" [ngModelOptions]="{standalone:true}" type="text" class="validate">
                      <label for="address">Address</label>
                    </div>
                    <div class="input-field col s12 m3 l3">
                      <input id="zipcode" [(ngModel)]="zipcode" [ngModelOptions]="{standalone:true}" type="text" class="validate">
                      <label for="zipcode">Zipcode</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12 m4 l4">
                      <input id="city" [(ngModel)]="city" [ngModelOptions]="{standalone:true}" type="text" class="validate">
                      <label for="city">City</label>
                    </div>
                    <div class="input-field col s12 m4 l4">
                      <input id="state" [(ngModel)]="state" [ngModelOptions]="{standalone:true}" type="text" class="validate">
                      <label for="state">State</label>
                    </div>
                    <div class="input-field col s12 m4 l4">
                      <input id="country" [(ngModel)]="country" [ngModelOptions]="{standalone:true}" type="text" class="validate">
                      <label for="country">Country</label>
                    </div>
                  </div>
                  <div class="row">
                    <!-- <div class="input-field col m3 l3"></div> -->
                    <div class="input-field col s12 m12 l12 center-align">
                      <button type="submit" class="waves-effect waves-light btn">Change Address</button>
                    </div>
                  </div>
                </form>
                <div *ngIf="addressChangedMessage" class="green-text center-align">{{addressChangedMessage}}</div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <!-- <ul class="collapsible">
            <li>
              <div class="collapsible-header">Change Email Address</div>
              <div class="collapsible-body">
                <div class="row">
                  <form (ngSubmit)="changeEmail()" class="col s12">
                    <div class="row">
                      <div class="input-field col s12 m6 l6">
                        <input id="emailId" [(ngModel)]="emailId" [ngModelOptions]="{standalone:true}" type="text" class="validate">
                        <label for="emailId">Email-Id</label>
                      </div>
                      <div class="input-field col s12 m6 l6">
                        <button type="submit" class="waves-effect waves-light btn">Change Email</button>
                      </div>
                    </div>
                  </form>
                  <div *ngIf="emailIdChangedMessage" class="green-text center-align">{{emailIdChangedMessage}}</div>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header">Change Phone Number</div>
              <div class="collapsible-body">
                <div class="row">
                  <form (ngSubmit)="changePhoneNo()" class="col s12">
                    <div class="row">
                      <div class="input-field col s12 m6 l6">
                        <input id="phoneNo" [(ngModel)]="phoneNo" [ngModelOptions]="{standalone: true}" type="text" class="validate">
                        <label for="phoneNo">Phone-No</label>
                      </div>
                      <div class="input-field col s12 m6 l6">
                        <button type="submit" class="waves-effect waves-light btn">Change Phone-No</button>
                      </div>
                    </div>
                  </form>
                  <div *ngIf="phoneNoChangedMessage" class="green-text center-align">{{phoneNoChangedMessage}}</div>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header">Change Address</div>
              <div class="collapsible-body">
                <div class="row">
                  <form (ngSubmit)="changeAddress()" class="col s12">
                    <div class="row">
                      <div class="input-field col s12 m9 l9">
                        <input id="address" [(ngModel)]="address" [ngModelOptions]="{standalone:true}" type="text" class="validate">
                        <label for="address">Address</label>
                      </div>
                      <div class="input-field col s12 m3 l3">
                        <input id="zipcode" [(ngModel)]="zipcode" [ngModelOptions]="{standalone:true}" type="text" class="validate">
                        <label for="zipcode">Zipcode</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12 m4 l4">
                        <input id="city" [(ngModel)]="city" [ngModelOptions]="{standalone:true}" type="text" class="validate">
                        <label for="city">City</label>
                      </div>
                      <div class="input-field col s12 m4 l4">
                        <input id="state" [(ngModel)]="state" [ngModelOptions]="{standalone:true}" type="text" class="validate">
                        <label for="state">State</label>
                      </div>
                      <div class="input-field col s12 m4 l4">
                        <input id="country" [(ngModel)]="country" [ngModelOptions]="{standalone:true}" type="text" class="validate">
                        <label for="country">Country</label>
                      </div>
                    </div>
                    <div class="row">
                      <!-- <div class="input-field col m3 l3"></div> -->
          <!--<div class="input-field col s12 m12 l12 center-align">
                        <button type="submit" class="waves-effect waves-light btn">Change Address</button>
                      </div>
                    </div>
                  </form>
                  <div *ngIf="addressChangedMessage" class="green-text center-align">{{addressChangedMessage}}</div>
                </div>
              </div>
            </li>
          </ul> -->
        </div>
      </div>
      <div *ngIf="isAdmin" class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Fullname</th>
              <th scope="col">Email-Id</th>
              <th scope="col">User Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of usersAll">
              <td>{{x.fullName}}</td>
              <td>{{x.emailId}}</td>
              <td>
                <span *ngIf="x.isActive == 0">
                  Not Active
                </span>
                <span *ngIf="x.isActive == 1">
                  Active
                </span>
              </td>
              <td>
                <button *ngIf="x.isActive==1" mat-raised-button color="warn" (click)="deactivateUser(x.userId)">Deactivate User</button>
                <button *ngIf="x.isActive==0" mat-raised-button color="primary" (click)="activateUser(x.userId)">Activate User</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Search" *ngIf="!isAdmin">
    <div class="container demo-tab-content">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <form (ngSubmit)="searchService(searchInput)">
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Search" [(ngModel)]="searchInput" [ngModelOptions]="{standalone:true}">
                </mat-form-field>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6" style="padding-top: 5%">
                <button mat-raised-button type="submit" color="primary">Search</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <form (ngSubmit)="searchByCategory()">
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                <mat-form-field>
                  <mat-select placeholder="Search by Category" [(ngModel)]="selectedCategories" [ngModelOptions]="{standalone: true}" multiple>
                    <mat-option *ngFor="let x of serviceCategories" [value]="x">{{x.serviceCategoryName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-lg-3"></div>
        <div class="col-sm-12 col-md-3 col-lg-3">
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination text-center">
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
              <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page, 'page-item':pager.currentPage === page}">
              <a (click)="setPage(page)" class="page-link"> {{page}} </a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
              <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-3" *ngFor="let service of pagedItems">
          <mat-card>
            <mat-card-header>
              <mat-card-title class="text-center bold-text">{{(service.serviceName | slice: 0: 24)+"..."}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-card-subtitle> {{(service.serviceDescription | slice: 0:30) + "..."}}</mat-card-subtitle>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="openService(service.serviceId)" color="primary">See More</button>
              <button mat-raised-button (click)="hideService(service.serviceId)" color="primary">Hide</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <!-- <ul *ngIf="pager.pages && pager.pages.length" class="pagination center-align ">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(1)">First</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)"> {{page}} </a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.totalPages)">Last</a>
                    </li>
                </ul> -->
      <div class="row" style="margin-top:20px">
        <div class="col-md-3 col-lg-3"></div>
        <div class="col-sm-12 col-md-3 col-lg-3">
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination text-center">
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
              <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page, 'page-item':pager.currentPage === page}">
              <a (click)="setPage(page)" class="page-link"> {{page}} </a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
              <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="My Posts" *ngIf="!isAdmin">
    <div class="container">
      <h5>My Posts</h5>
      <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-3" *ngFor="let x of userServices">
          <mat-card>
            <mat-card-header>
              <mat-card-title class="text-center bold-text">{{(x.serviceName | slice:0:24)+"..."}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-card-subtitle> {{(x.serviceDescription | slice: 0:30) + "..."}}</mat-card-subtitle>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="openService(x.serviceId)" color="primary">See More</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Add a service" *ngIf="!isAdmin && !isActive==0">
    <div class="container">
      <h2>Add a Service </h2>
      <form (ngSubmit)="addService(addServiceForm.value)" [formGroup]="addServiceForm">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                <mat-form-field>
                  <input type="text" matInput placeholder="Name" required formControlName="addServiceName">
                </mat-form-field>

              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <div *ngIf="!addServiceForm.controls['addServiceName'].valid && (addServiceForm.controls['addServiceName'].touched)">
                  <div class="error" [hidden]="!addServiceForm.controls['addServiceName'].errors.required">
                    Name is required
                  </div>
                  <div class="error" [hidden]="!addServiceForm.controls['addServiceName'].errors.minlength">
                    Minimum 8 Characters
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                <mat-form-field>
                  <mat-select placeholder="Select Category" formControlName="addServiceCategory">
                    <mat-option *ngFor="let x of serviceCategories" [value]="x">{{x.serviceCategoryName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div *ngIf="!addServiceForm.controls['addServiceCategory'].valid && (addServiceForm.controls['addServiceCategory'].touched)">
                    <div class="error" [hidden]="!addServiceForm.controls['addServiceCategory'].errors.required">
                      Category is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                <mat-form-field>
                  <textarea matInput placeholder="Description" required formControlName="addServiceDesc"></textarea>
                </mat-form-field>

              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <div *ngIf="!addServiceForm.controls['addServiceDesc'].valid && (addServiceForm.controls['addServiceDesc'].touched)">
                  <div class="error" [hidden]="!addServiceForm.controls['addServiceDesc'].errors.required">
                    Description is required
                  </div>
                  <div class="error" [hidden]="!addServiceForm.controls['addServiceDesc'].errors.minlength">
                    Minimum 8 Characters
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                <mat-form-field>
                  <input type="text" matInput placeholder="Price" required formControlName="addServicePrice">
                </mat-form-field>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <div *ngIf="!addServiceForm.controls['addServicePrice'].valid && (addServiceForm.controls['addServicePrice'].touched)">
                  <div class="error" [hidden]="!addServiceForm.controls['addServicePrice'].errors.required">
                    Price is required
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <input type="file" (change)="onFileSelected($event)">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 colmd-12 col-lg-12">
                <button mat-raised-button color="primary" type="submit" [disabled]="!addServiceForm.valid">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Wishlist" *ngIf="!isAdmin">
    <ul>
      <li *ngFor="let x of wishlist" (click)="getWishlistItems(x.wishlistId)">
        <div>{{x.wishlistName}}</div>
        <div>
          <li *ngFor="let x of wishlistitems">
            {{x.serviceName}}
          </li>
        </div>
      </li>
    </ul>
  </mat-tab>
  <mat-tab label="Hidden Service" *ngIf="!isAdmin">
    <div class="container">
      <h4>Hidden Service</h4>
      <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-3" *ngFor="let x of hiddenServices">
          <mat-card>
            <mat-card-header>
              <mat-card-title class="text-center bold-text">{{(x.serviceName | slice:0:24)+"..."}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-card-subtitle> {{(x.serviceDescription | slice: 0:30) + "..."}}</mat-card-subtitle>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="openService(x.serviceId)" color="primary">See More</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
